.work_block{
    margin: 16px;
    border: 1px black solid;
    border-radius: 8px;
    padding: 16px;
}

.job_title {
    font-size: 24px;
    font-weight: 900;
}

.company {
    font-size: large;
    font-weight: 400;
}