.main_page{
  margin-top: 16px;
  background-color: #eee;
  margin-left: 5%;
  margin-right: 5%;
  border: #666 2px dotted;
}

nav {
  margin-left: 5%;
  margin-right: 5%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f3f3f3;
}

li {
  float: left;
}

li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: #04AA6D;
}